header {
    color: white;
    position: fixed;
	width: 100%;
	margin: auto;
	display: inline-block;
    background-color: black;
    box-shadow: 0 2px 4px rgba(0,0,0,.1)!important;
}

.header_item {
    text-align: center;
	display: inline-block;
	vertical-align: bottom;
    width: 33%;
    max-height: 50px;
    padding: 10px 0 10px 0;
}

body {
    background-color: black;
}

/* Style the video: 100% width and height to cover the entire window */
#myVideo {
    position: fixed;
	right: 0;
	bottom: 0;
	min-width: 100%;
	min-height: 100%;
	width: 100vh;
	height: 100vh;
	background: rgba(0, 0, 0, 0.5);
	color: #f1f1f1;
	z-index: -30;
	background-color: black;
}
.main_button {
    display: inline-block;
    width: 40%;
}
.main_button button{
    width: 100px;
    cursor: pointer;
    color: white;
    font-family: "Montserrat", sans-serif;
    padding: 10px;
    border: medium solid white;
    border-radius: 2px;
    margin: 50px;
    background-color: rgba(0,0,0,.1);
}
.content {
    width: 100%;
    position: relative;
    padding: 100px;
	display: block;
	content: '';
	min-height: 100%;
	height: 100vh;
	z-index: 20;
    color: white;
}

/*form design*/
@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.section {
    width: 360px;
    padding: 8% 0 0;
    margin: auto;
    background: #76b852; /* fallback for old browsers */
    background: -webkit-linear-gradient(right, #76b852, #8DC26F);
    background: -moz-linear-gradient(right, #76b852, #8DC26F);
    background: -o-linear-gradient(right, #76b852, #8DC26F);
    background: linear-gradient(to left, #76b852, #8DC26F);
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.form {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}
.form button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #4CAF50;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
}
.form button:hover,.form button:active,.form button:focus {
    background: #43A047;
}
.form .message {
    margin: 15px 0 0;
    color: #b3b3b3;
    font-size: 12px;
}
.form .message a {
    color: #4CAF50;
    text-decoration: none;
}
.form .register-form {
    display: none;
}
.section {
    position: relative;
    z-index: 1;
    max-width: 300px;
    margin: 0 auto;
}
.section:before, .container:after {
    content: "";
    display: block;
    clear: both;
}
.section {
    margin: 50px auto;
    text-align: center;
}

